:root {
    --general-red-color: #DE343D;
    --general-color: #040404;
    --general-grey-color:#9c9c9c;
}

body { 
    font-family: 'Monument Extended', Arial;
    line-height: 1.4;
    color: #000;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1800px;
    padding: 0 90px;
    margin: 0 auto;
    height: 100%;
}
