        @import url(header.css);
        @import url(global.css);
        @import url(footer.css);
        @import url(fonts.css);
        @import url(reset.css);

/*/////// (1.section) //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.main__preview{
    background: linear-gradient(220deg, #c5242c 10%, #ffd000 100%);
    position: relative;
    margin-bottom: 90px;
}

.preview__container {
   padding: 0 180px 0 0;
}

.preview__background {
    display: flex;
}

.preview__background img {
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
}

.preview__inner {
    display: flex; 
    height: 850px;
}

.preview__slider {
    display: flex;
}

.preview__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 733px;
    margin-left: 180px;
}

.preview__slide img {
    background: url(../img/decor/Frame\ 2.svg) no-repeat;
    background-position-y: 1rem;
    background-position-x: 7rem;
    width: 100%;
    
}

.preview__button {
    border: 1.56px solid #fff;
    padding: 6px 24px;
    gap: 6px;
    background: transparent;
    color: #fff;
    font-size: 20px;
    line-height: 2.5;
    letter-spacing: 0.08em;
    width: 196px;
    z-index: 10;
}

.preview__slider {
    max-width: 1100px;
    display: flex;
    height: 100%;
    align-items: center;
}

.preview__purchase {
    display: flex;
    align-items: end;
    padding-bottom: 67px;
}

.swiper-pagination {
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  justify-content: end;
  padding-left: 20px;
  z-index: 7;
}

.swiper-pagination-bullet {
    width: 19px;
    height: 19px;
    background: transparent ;
    border: 2px solid #ffffff;
    transition: 0.3s ease;
}

.swiper-pagination-bullet-active::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 42%;
    background-color: #fee9bc;
    width: 50px;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    animation: advancement 0.6s both;
}

.swiper-pagination-bullet-active {
    background: #fee9bc;
    position: relative;
    border: 2px solid #fee9bc;    
    box-shadow: 0 4px 4px 0 #00000065;
}

/*/////// (2.section) //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.directory__body {
    position: relative;  
    margin-bottom: 65px;
}

.directory__container {
    padding: 0 96px;
}

.directory__top {
    margin-bottom: 40px;
}

.directory__title {
    color: var(--general-red-color);
    font-size: 37px;
    line-height: 1;
}

.directory__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.directory__buttons {
    display: flex;
    gap: 30px;
    font-size: 15px;
    line-height: 2.56;
    letter-spacing: 0.08em;
    color: #808080;
}

.directory__button-filters,
.directory__button-sort{
    background: transparent;
    border: 1.26px solid #dedede;
    padding: 5px 20px;
    width: 159px;
    height: 51px;
}

.directory__buttons-connected {
    display: flex;
}

.directory__buttons-connected img {
    width: 20px;
}

.directory__button-options,
.directory__button-kind {
    background-color: transparent;
    border: 1.26px solid #dedede;
    padding: 0px 20px;
    width: 57.5px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.directory__slide-top {
    width: 401px;
    height: 376px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.directory__slide-img img {
    width: 100%;
}

.directory__slide-subtitle {
    line-height: 1.4;
    letter-spacing: 0.07em;
    color: #9c9c9c;
    font-size: 22px;
    margin-bottom: 10px;
}

.directory__slide-title {
    font-size: 25px;
    color: #040404;
    margin-bottom: 10px;
}

.directory__slide-price {
    font-size: 20px;
    margin-bottom: 10px;
}

.directory__slide-size {
    color: var(--general-red-color);
    line-height: 140%;
    letter-spacing: 0.08em;
    font-size: 18px;
}

.directory__prev {
    position: absolute;
    background: transparent;
    top: 45%;
    left: -1.5%;
    z-index: 5;

    background-color: #F9F9F9;
    border-radius: 50%;
    width: 58px;
    height: 58px;
  
}

.directory__next {
    position: absolute;
    background: transparent;
    top: 45%;
    right: -1.5%;
    z-index: 5;
    transform: rotate(180deg);
    
    background-color: #F9F9F9;
    border-radius: 50%;
    width: 58px;
    height: 58px;
}

.directory__next path,
.directory__prev path {
    transition: 0.3s ease;
}

.swiper-button-disabled {
    cursor: default;
}
.swiper-button-disabled path {
    fill: #c9c9c9;
}

.directory__show {
    display: flex;
    justify-content: center;
    margin-bottom: 250px;
}

.directory__button-show {
    border: 1.56px solid #808080;
    padding: 6px 24px;
    background: transparent;
    color: #808080;
    font-size: 20px;
    line-height: 2.5;
    letter-spacing: 0.08em;
}

/*/////// (3.section) //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.quotation__container {
    padding: 0 40px;
}

.quotation__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.quotation__body {
    display: flex;
    flex-direction: column;
}   

.quotation__text-1,
.quotation__text-2 {
    display: flex;
    font-size: 5.3vw;
    line-height: 1.5;
    gap: 30px;
    align-items: center;
}

.quotation__block {
    position: relative;
}

.quotation__img-1 img {
    width: 100%;
}
.quotation__img-2 img {
    width: 100%;
}
.quotation__img-3 img {
    width: 100%;
}

.quotation__img-1,
.quotation__img-2,
.quotation__img-3 {
    position: absolute;
}

.quotation__img-1 {
    bottom: -130%;
    left: -48%;
}
.quotation__img-2 {
    bottom: -60%;
    right: -60%;
}
.quotation__img-3 {
    right: -45%;
    bottom: -60%;
}

.quotation__square-1,
.quotation__square-2,
.quotation__square-3 {
    border-radius: 42px;
    height: 89px;
} 

.quotation__square-1 {
    width: 197px;
    background-color: #000;
}
.quotation__square-2 {
    width: 250px;
    background: #ffb800;
}
.quotation__square-3 {
    width: 178px;
    background-color: #000;
}

.quotation__logos {
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
}
.quotation__content {
    display: flex;
    gap: 90px;
}

.quotation__content img {
    width: 100%;
}

/*/////// (4.section) //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.brand__content {
    position: relative;
}

.brand__top {
    z-index: 2; 
}

.brand__airmax {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%;
}

.brand__nike {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.brand__nike img {   
    width: 100%;
    height: 100%;
}

.brand__airmax img {
    width: 100%;
}

.brand__background {
    margin-bottom: 70px;
}

.brand__background img {
    width: 100%;
    filter: blur(6px);
}

.brand__animated {
    animation: move 7s infinite linear;
    display: flex;
    justify-content: center;
}

/*/////// (5.section) //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.goods__container {
    padding: 0 298px;
}

.goods__top {
    margin-bottom: 40px;
}

.goods__title {
    color: var(--general-red-color);
    font-size: 37px;
    line-height: 1;
}

.goods__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 85px;
}

.goods__buttons {
    display: flex;
    gap: 30px;
    font-size: 15px;
    line-height: 2.56;
    letter-spacing: 0.08em;
    color: #808080;
}

.goods__button-filters,
.goods__button-sort{
    background: transparent;
    border: 1.26px solid #dedede;
    padding: 5px 20px;
    width: 159px;
    height: 51px;
}

.goods__buttons-connected {
    display: flex;
}

.goods__buttons-connected img {
    width: 20px;
}


.goods__button-options,
.goods__button-kind {
    background-color: transparent;
    border: 1.26px solid #dedede;
    padding: 0px 20px;
    width: 57.5px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.accordion-list {
   display: none;
   opacity: 0;
}

.accordion--open {
    display: flex;
    justify-content: center;
    gap: 40px;
    animation: opacity 0.5s both;
}

.accordion-list-2 {
    display: flex;
    justify-content: center;
    gap: 40px;
} 

.accordion-list__item {
    margin-bottom: 40px;
}

.accordion-item__top {
    width: 401px;
    height: 376px;
    background-color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.accordion-item__img img {
    width: 100%;
}

.accordion-item__subtitle {
    line-height: 1.4;
    letter-spacing: 0.07em;
    color: #9c9c9c;
    font-size: 22px;
    margin-bottom: 10px;
}

.accordion-item__title {
    font-size: 25px;
    color: #040404;
    margin-bottom: 10px;
}

.accordion-item__price {
    font-size: 20px;
    margin-bottom: 10px;
}

.accordion-item__size {
    color: var(--general-red-color);
    line-height: 140%;
    letter-spacing: 0.08em;
    font-size: 18px;
}

.accordion-list__control {
    display: flex;
    justify-content: center;
}

.accordion-buttons {
    display: flex;
    position: relative;
    justify-content: center;
   
    z-index: 2;
    margin-bottom: 415px;
}
.accordion__button-open,
.accordion__button-close {
    border: 2px solid #5c5c5c;
    padding: 6px 24px;
    background: transparent;
    color: #5c5c5c;
    font-size: 20px;
    line-height: 2.5;
    letter-spacing: 0.08em;
    transition: 0.3s ease;
}

.accordion__button-open:hover,
.accordion__button-close:hover {
    border-color: #000;
    color: #000;
}

.accordion__button-close {
    display: none;
}

.show--btn {
    display: flex;
}

.hide--btn {
    display: none;
}


/*/////// (media) //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


@media (max-width: 1800px) {
    .directory__slider {
        max-width: 1300px;
    }

    .directory__next {
        right: -1%;
    }
}

@media (max-width: 1500px) {
    .preview__container {
        padding-right: 40px;
     }

     .directory__slider {
        max-width: 900px;
    }

    .directory__next {
        right: 1%;
    }
    .directory__prev {
        left: -2.5%;
    }

    .quotation__text-1,
    .quotation__text-2 {
        font-size: 5vw;
    }
   
    .quotation__block {
        transform: scale(0.7);
    }

    .quotation__img-2,
    .quotation__square-2 {
        display: none;
    }

    .quotation__body {
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .preview__slide {
      margin-left: 30px;
      max-width: 600px;
    }

    .preview__slide img {
        background: none;
    }

    .preview__purchase {
        width: 100%;
        position: absolute;
        justify-content: center;
        bottom: 0;
        padding-bottom: 20px;
        z-index: 10;
    }
    
}

@media (max-width: 1100px) {
    .header__container {
        padding: 0px;
    }

    .header__content {
        justify-content: space-between;
        align-items: center;
    }

    .body--opened-menu {
        overflow: hidden;
    } 

    .body--opened-menu .header__search {
        z-index: -1;
    }
    .body--opened-menu .directory__next {
        z-index: -1;
    }

    .header__nav {
        background-color: #ffffff;
        position: fixed;
        inset: 0;
        z-index: 12;
        padding: 20vh 45px 3vh;
        font-size: 24px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%);
        transition: 0.4s ease;
        width: 50%;
    }

    .body--opened-menu .header__nav {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        box-shadow: 1000px 0 0 1000px #0000006c;
        z-index: 10;
    }

    .burger-icon {
        display: flex;
        position: absolute;
        left: 45px;
    }

    .header__list {
        display: flex;
        flex-direction: column;
        align-items: start;
        border-right: 1.56px solid #000000 ;
    }

    .directory__content {
        flex-direction: column;
    }

    .directory__title {
        margin-bottom: 30px;
    }
   
    .directory__slider {
        max-width: 501px;
    }

    .directory__slide-top {
        width: 501px;
    }

    .directory__next {
        right: -2.5%;
    }

    .directory__show {
        margin-bottom: 200px;
    }

}

@media (max-width: 800px) {

    .preview__slide {
        max-width: 500px;
      }

      .directory__slider {
        max-width: 400px;
    }

    .directory__slide-top {
        width: 400px;
    }

    .quotation__text-1,
    .quotation__text-2 {
        gap: 0;
        font-size: 4.8vw;
    }

    .quotation__block {
        transform: scale(0.5);
    }

    .quotation__content {
        gap: 30px;
    }

/*/////// (footer) /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .footer__inner {
        display: flex;
        justify-content: center;
        padding: 115px 0;
      
    }

    .footer__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__col-title {
        margin-bottom: 44px;
      
    }

    .footer__col-item {
        margin-bottom: 25px;
        font-size: 18px;
    }

}  

@media (max-width: 700px) {
    .header__nav {
        font-size: 20px;     
        padding: 20vh 25px 3vh;
    }
  
    .burger-icon {
        left: 25px;
    }

    .swiper-pagination-bullet-active::before {
        width: 30px;
    }

}

@media (max-width: 600px) {

    .swiper-pagination-bullet-active::before {
        width: 0px;
    }

    .directory__container {
        padding: 0 40px;
    }

    .directory__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .directory__prev,
    .directory__next {
        position: relative;
    }

    .directory__pagination {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        padding: 0 20px;
    }

    .directory__show {
        margin-bottom: 150px;
    }

    .quotation__body {
        gap: 10px;

    }

    .quotation__text-1,
    .quotation__text-2   {
        gap: 10px;
        font-size: 35px;
    }

   .quotation__img-1,
   .quotation__square-1,
   .quotation__img-3,
   .quotation__square-3 {
    display: none;
   }

}

@media (max-width: 500px) {
    .header__nav {
        font-size: 16px;
        width: 55%;  
    }

    .header__list {
        border-right: 0;
    } 

    .directory-title {
        text-align: center;
    }

    .directory__slider {
        max-width: 300px;
    }

    .directory__slide-top {
        max-width: 300px;
        height: 300px;
    }

    .directory__slide-img  {
        max-width: 220px;
    }

    .quotation__text-1,
    .quotation__text-2   {
        font-size: 6vw;
    }
/*/////// (footer) /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    .footer__content {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .footer__inner {
        padding: 0 20px;
    }

    .footer__col {
        display: flex;
        flex-direction: column;
       text-align: center;
    }

    .footer__col-title {
        margin-bottom: 34px;
        border-bottom: 1.56px solid red;
        width: 100%;
        padding: 10px 20px;
    }

    .footer__col-item {
        margin-bottom: 20px;
        font-size: 16px;
    }
} 

/*/////// (keyframes) //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@keyframes advancement {
    0%{
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes move {
    0% {
        translate: 0px;
    }
    100% {
        translate: 1100px;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}