    @import url(header.css);
    @import url(global.css);
    @import url(footer.css);
    @import url(fonts.css);
    @import url(reset.css);

    .preview__inner {
        display: flex;
        position: relative;
        align-items: center;

        background: linear-gradient(209deg, #e61923 0%, #ffb800 100%);
        height: 940px;
    }

    .preview__background {
        position: absolute;
        top: 35%;
    }

    .preview__purchase {
        position: absolute;
        inset: 0;
        top: 86%;
        left: 80%; 
    }

    .preview__button {
        font-size: 20px;
        line-height: 2.5;
        letter-spacing: 0.08rem;
        color: #fff;
        background: transparent;
        border: 2px solid #fff;
        padding: 6px 24px;  
    }

.preview__slider {
    
}

.preview__slide {
    background: url(../img/decor/Frame\ 2.svg) no-repeat;
    background-position-y: 3rem ;
    overflow: hidden;
}