:root { 
    --general-text: #312C27;
    --general-background: #fff9f4;
    --accent-color: #FFA55C;
    --accent-background: #FFE0CB;
    --accent-text: #1F1711;
}

body { 
    font-family: 'Montserrat', 'Arial', sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-background);
}

.body--opened-menu {
    overflow: hidden;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}


.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.logo {
 
    font-size: 34px;
    max-width: 174px;
    height: 60px;
    z-index: 12;
}

.logo img {
    width: 100%;
}

.button {
    background-color: var(--accent-color);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    padding: 3px 15px;    
}

.button:hover {
    background-color: #FF9138;
}

/* /////////////////////////////////////////////////////////// */


.header {
    background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;

}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 62px;
    margin-top: 20px;
}

.nav__list {
    display: flex;
       gap: 5vh 40px;
}

.nav__item {
    position: relative;
    z-index: 2;
}

.nav__link {
    color: var(--general-text);
    display: block;
    padding: 5px 0;
    position: relative;
    font-weight: 400;
}

.nav__link::before {
    content: '';
    position: absolute;
    width: 33px;
    height: 33px;
    background-color: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    bottom: 8px;
    left: -12px;
    transition: 0.3s ease;
    z-index: -1;
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 12;
}

.burger-icon span {
    display: block;
    height: 3px;
    width: 30px;
    border-radius: 100px;
    background-color: var(--general-text);
    position: relative;
    transition: 0.4s ease;
 
}
.burger-icon span::before,
.burger-icon span::after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 30px;
    border-radius: 100px;
    background-color: var(--general-text);
    transition: 0.4s ease;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span::before,
.body--opened-menu .burger-icon span::after {
        bottom: 0;
        top: 0;
}

.body--opened-menu .burger-icon span::before {
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    transform: rotate(-45deg);
}

.body--opened-menu .burger-icon span {
    background-color: transparent;
}

/* ///////////////////////////////////////////////////////////////////////////////// */

.hero {
    padding: 50px 0 140px;
}
.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
    user-select: none;
}

.hero__info { 
    display: flex;
    flex-wrap: wrap;
    color: #B197B3;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;
    align-items: center;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: #B197B3;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;
    margin-left: 10px;
}

.hero__info span:last-child:after {
   content: none;
}

.hero__title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 82%;
    margin-bottom: 30px;
}

.hero__text {
    margin-bottom: 40px;
    max-width: 360px;
}

.hero__button {
    max-width: 360px;
    transition: 0.3s ease;
    width: 100%;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    display: flex;
    align-items: center;
    position: absolute;
    left: calc(374px - 35px);
    bottom: 52px;
    max-width: 200px;
    gap: 10px;
    user-select: none;
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: var(--accent-background);
    box-shadow: 0 0 10px 2px #00000013;
}

.hero__img-button::after {
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 68px;
    height: 68px;
    background-color: transparent;
    border: 1px solid var(--accent-color);
    transition: 0.5s ease;
    opacity: 0;
}

.hero__img-button:hover::after {
    opacity: 1;
}

.hero__img-button img {
    padding-left: 8.8%;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 1200px) {

    .hero__img-control {
        position: static;
        gap: 10px;
        max-width: 100%;
        margin-top: 20px;
    }

    .hero__img {
        margin: 0;
        max-width: 377px;
    }
}

@media (max-width: 900px) {
    .header__nav {
        background-color: #fff4ed;
        position: fixed;
        inset: 0;
        z-index: 10;
        padding: 26vh 15px 3vh;
        font-size: 24px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-50%);
        transition: 0.4s ease;
        text-align: center;
    }

    .body--opened-menu .header__nav {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .burger-icon {
        display: flex;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }
    
    .nav__item {
        background-color: #ff660079;
        width: 100%;
        padding: 10px 0;
        border-radius: 0 100px 0 100px;
        position: relative;
    }

}

@media (max-width: 800px) {

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: none;
        width: 100%;
    }

    .hero__img {
        display: none;
    }
   
    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }
  
}

@media (max-width: 600px) {

    .hero__title {
        font-size: 12vw;
    }

    .hero {
        padding-bottom: 80px;
    }
}